<h1 id="main-h1">{{title}}</h1>
<div class='container'>
    <div id="login-box">
        <div class="form">
            <form name="login" onsubmit="reset(); return false">
                <label for="uname">User Name:</label>
                <input required type="text" id="uname" #unameVal><br><br>
                <label for="pwd">Password:</label>
                <input required type="password" id="pwd" #pwdVal><br><br>
                <input type="submit" 
                    class="submit" 
                    id="submit"
                    value="Login" 
                    (click)="loginClick(unameVal.value,pwdVal.value)"
                />
            </form>
        </div>
    </div>
</div>